@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* overwriting the default styles and all the common styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 1.5rem;
  /* font-weight: 400; */
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
:root {
  --color-primary: #73b925;
  --color-primary-light: #7ed56f;
  --color-primary-medium: #55c57a;
  --color-primary-dark: #28b485;
  --color-white: #ccc;
  --color-white-light: #f0f0f0;
  --color-black-light: #333;
  --color-white: #fff;
}


/* the navigation section */
.nav{
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(100%, 100%, 100%);
  background-color: transparent;
  z-index: 9000;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.nav__logo{
  color: var(--color-white);
  font-size: 4rem;
  text-transform: capitalize;
  margin-right: auto;
  letter-spacing: .8px;
}
.nav__list{
  display: flex;
  align-items: center;
  list-style: none;
}
.nav__list>*:not(:last-child){
  margin-right: 3.5rem;
}
.nav__item--link, .nav__item--link:visited{
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--color-white);
}
/* end of navigation */


/* hero section of the webpage */
.hero{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)),url(../src/assets/images/strawberry.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title{
  font-size: 5rem;
  color: var(--color-white);
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
  width: clamp(80%, 80%, 80%);
}

.hero__subtitle{
  font-size: 2rem;
  color: var(--color-white);
  text-align: center;
  margin-top: 2rem;
}

