@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* overwriting the default styles and all the common styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 1.5rem;
  color: var(--color-primary-jungle-green);
  /* font-weight: 400; */
}
html {
  font-size: 55.5%;
  box-sizing: border-box;
}
:root {
  --color-primary: #73b925;
  --color-primary-light: #7ed56f;
  --color-primary-medium: #55c57a;
  --color-primary-dark: #28b485;
  --color-recom-green: #16db65;
  --color-primary-jungle-green: #0d2818;
  --color-white: #ccc;
  --color-white-light: #f0f0f0;
  --color-black-light: #333;
  --color-white: #fff;
}

/* typography and common styles */
.title {
  display: flex;
  flex-direction: column;
  border-left: 11px solid var(--color-primary-jungle-green);
  padding: 0;
  padding-left: 5px;
  width: max-content;
}
.title__main {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.title__sub {
  font-weight: 600;
  letter-spacing: 1.2px;
}

@media screen and (max-width: 900px) {
  .title {
    text-align: center;
    margin: auto;
  }
}

body {
  padding-top: 0.8rem;
}

@media screen and (min-width: 1800px) {
  #root {
    max-width: 80vw;
    min-width: 80vw;
    margin: 1rem auto;
  }
}
/* end of typography and common styles */

/* the navigation section */
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(100%, 100%, 100%);
  background-color: transparent;
  z-index: 9000;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

.page-root-fix-header .nav {
  background-color: var(--color-primary-jungle-green);
  /* position: relative !important; */
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav__logo {
  color: var(--color-white);
  font-size: 4rem;
  text-transform: capitalize;
  margin-right: auto;
  letter-spacing: 0.8px;
}
.nav__navigation {
  transition: all 0.6s ease-in-out;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__list > *:not(:last-child) {
  margin-right: 3.5rem;
}
.nav__item--link:hover {
  border-left: 2px solid var(--color-primary-light);
  padding: 1rem;
}
.nav__item--link,
.nav__item--link:visited {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--color-white);
}

.hamburger {
  display: none;
}
.hamb {
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
}
.hamb:not(:last-of-type) {
  margin-bottom: 5px;
}
@media screen and (max-width: 650px) {
  .hamburger {
    display: block;
  }
  .nav__navigation {
    position: absolute;
    top: 10rem;
    right: 0;
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .nav__list > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .nav__flipper {
    position: absolute;
    right: -20rem;
  }
}
/* end of navigation */

/* hero section of the webpage */
.hero {
  position: relative;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}
.hero__title {
  font-size: 5rem;
  color: var(--color-white);
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
  width: clamp(80%, 80%, 80%);
}

.hero__subtitle {
  font-size: 2rem;
  color: var(--color-white);
  text-align: center;
  margin-top: 2rem;
}

/* the recommendations and goals section */
.recom-goals {
  padding: 2rem;
  margin-top: 4rem;
  position: relative;
}

.recommendation__form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  min-height: 70vh;
  max-height: 70vh;
  display: flex;
  background-color: #fff;
  box-shadow: 2rem 2rem 2rem #ddd, -1rem -1rem 2rem #eee;
  transform: translate(-50%, -50%) scale(0);
  transform-origin: top right;
  transition: all 0.5s ease;
  background-image: url(./assets/images/industrial.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.recommendation__form--controlls {
  width: 60%;
  padding: 1rem 5rem 1rem 1rem;
  background-color: var(--color-white);
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.recommendation__form--controlls::-webkit-scrollbar {
  width: 6px;
}
.recommendation__form--controlls::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 10rem;
}
.recommendation__form--controlls::-webkit-scrollbar-thumb {
  background-color: var(--color-recom-green);
  border-radius: 10rem;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group:not(:last-of-type) {
  margin-bottom: 3rem;
}

.form__group--label {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.form__avartar {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.form__group--text-input {
  outline: none;
  border: none;
  padding: 1rem 0;
  border-bottom: 2px solid var(--color-recom-green);
  font-weight: 500;
  text-transform: capitalize;
}

.form__flex {
  display: flex;
  justify-content: space-between;
}

.recommendation__form--image {
  width: 30%;
  height: 100%;
}

.u-show-form {
  transform: translate(-50%, -50%) scale(1) !important;
}

.close-btn {
  --size: 3.5rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: var(--size);
  height: var(--size);
  background-color: #888;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-btn__icon {
  width: 3px;
  height: 60%;
  background-color: var(--color-white);
  transform: rotate(48deg);
  position: relative;
  cursor: pointer;
}

.close-btn__icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transform: rotate(-90deg);
}

.recom-goals__wrapper {
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); */
  margin-top: 6rem;
}

.recommendation {
  width: 40vw;
}

.recommendation__message {
  line-height: 1.6;
  letter-spacing: 1.2;
  margin-bottom: 3rem;
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 400;
}

.recommendations__button {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--color-recom-green);
  padding: 1.5rem 2rem;
  border-radius: 5px;
  color: var(--color-recom-green);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.recommendations__button:hover {
  background-color: var(--color-recom-green);
  color: var(--color-white);
}

.form__submit--button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem 1.5rem;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  border: 2px solid var(--color-recom-green);
  cursor: pointer;
  border-radius: 6px;
  color: var(--color-recom-green);
  letter-spacing: 0.8px;
  transition: all 0.5s;
}

.form__submit--button:hover {
  background-color: var(--color-recom-green);
  color: var(--color-white);
}

.goals {
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.goal__header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.goal__header svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  margin-right: 2rem;
  fill: var(--color-recom-green);
}

.goal__header--goal-name {
  justify-self: flex-start;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.goal__description {
  text-align: justify;
}

@media screen and (max-width: 750px) {
  .recom-goals__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recommendation {
    width: 90vw;
    margin-bottom: 4rem;
  }
  .goals {
    width: 90vw;
  }
}

@media screen and (max-width: 1000px) {
  .form__flex {
    flex-direction: column;
  }

  .form__flex > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .recommendation__form--controlls {
    width: 100%;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(./assets/images/industrial.jpg);
    display: flex;
    flex-direction: column;
  }

  .recommendation__form--image {
    display: none;
  }
}
/* end of the recommendations and goals section */

/* educative section */
.educative-section {
  padding: 3rem;
  margin-block-start: 3rem;
  background-color: #c4c4c4;
}
.educative-parent {
  width: 35rem;
  /* perspective: 100rem; */
}

.educative {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  transform: rotateY(-20deg);
  box-shadow: 5px 5px 3px var(--color-primary-light);
  transition: all 0.3s ease;
  margin-bottom: 4rem;
}

.educative__image {
  width: 100%;
  height: 22rem;
}

.educative__image--img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.educatives__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-block: 4rem;
  margin: 4rem 0;
}

.educative__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-primary-jungle-green);
}

.educative__body > *:not(:last-child) {
  margin-bottom: 2rem;
}

.educative__body--title {
  font-size: 2.8rem;
  text-transform: capitalize;
  color: var(--color-recom-green);
}

.educative__body--pretext {
  font-size: 1.7rem;
  color: var(--color-white);
  text-align: center;
}

.educative__button,
.educative__button:visited {
  padding: 1rem 2rem;
  color: var(--color-recom-green);
  border: 1px solid var(--color-recom-green);
  font-size: 2rem;
  margin-top: 1.5rem;
  width: 70%;
  text-align: center;
  cursor: pointer;
}
/* end of educative section */

/* initiatives section */
.initiatives {
  padding: 3rem;
}

.all-initiatives-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.initiative {
  width: 40rem;
  margin-bottom: 3rem;
  border-radius: 20px;
  box-shadow: 0 0 8px;
  overflow: hidden;
}

.initiative__image {
  width: 100%;
  height: 20rem;
  border-radius: 8px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.initiative__image--img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.initiative__body {
  padding: 2rem;
  position: relative;
}

.initiative__body--description {
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.6;
}

.initiative__button {
  position: relative;
  margin-right: 0;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: right;
  width: max-content;
  font-weight: bold;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  letter-spacing: 0.8px;
  color: var(--color-recom-green);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.initiative__button:hover {
  background-color: var(--color-recom-green);
  color: var(--color-white);
}
.initiative__button:hover svg {
  fill: var(--color-white);
}

.initiative__button svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  margin-left: 12px;
  fill: var(--color-recom-green);
}
/* end of initiatives section */

/* next steps */
.nextsteps {
  padding: 3rem;
}

.nextsteps__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-top: 2rem;
}

@media screen and (max-width: 900px) {
  .nextsteps__container {
    display: flex;
    flex-direction: column;
  }
}

.nextsteps__textual {
  padding-right: 6rem;
  padding-block: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nextsteps__textual--text {
  font-size: 2rem;
  margin-bottom: 4rem;
  line-height: 1.5;
  text-align: justify;
}

.nextsteps__textual--button,
.nextsteps__textual--button:visited {
  font-size: 2rem;
  padding: 1rem 2rem;
  border: 1px solid var(--color-recom-green);
  color: var(--color-recom-green);
  font-weight: 700;
  border-radius: 2px;
  transition: color 0.2s ease;
}

.nextsteps__textual--button:hover {
  background-color: var(--color-recom-green);
  color: var(--color-white);
}

.form {
  padding: 3rem;
  padding-left: 6rem;
  background-color: var(--color-primary-jungle-green);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.form__title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 300;
  color: var(--color-white);
  letter-spacing: 1.2px;
  margin-bottom: 3rem;
}

.form__group {
  margin-bottom: 3rem;
  width: 80%;
}

.form__group--label--nex-steps {
  font-size: 1.8rem;
  color: var(--color-white);
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.form__group--text-input-feedback {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-recom-green);
  color: var(--color-white-light);
  padding: 1rem 0;
}

.form__group--textarea {
  color: var(--color-white-light);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-recom-green);
  outline: none;
  resize: vertical;
}

.form__button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-recom-green);
  font-size: 2rem;
  padding: 1rem 2rem;
  letter-spacing: 1.2px;
  border: 2px solid var(--color-recom-green);
  cursor: pointer;
  border-radius: 4px;
}
/* end of next steps */

/* footer */
.footer {
  margin: 3rem 0;
  background-color: var(--color-black-light);
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.footer__text {
  color: var(--color-white-light);
  text-align: center;
  padding-top: 2rem;
  border-top: 2px solid var(--color-white);
  width: 80%;
}
/* end of footer */

/* various pages stylings */
.community-initiative-hero {
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
}

.community-initiative-hero__image {
  --width: 50rem;
  min-width: var(--width);
  max-width: var(--width);
  height: 50rem;
  margin-right: auto;
  border-radius: 8px;
  overflow: hidden;
}

.community-initiative-hero__image--img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.community-initiative-hero__text--txt {
  --width: 80%;
  min-width: var(--width);
  max-width: var(--width);
  font-size: 5rem;
  text-transform: capitalize;
  line-height: 1.2;
  margin-left: 5rem;
  text-align: justify;
  padding-bottom: 8px;
  border-bottom: 8px solid var(--color-primary-jungle-green);
  justify-self: flex-end;
}

@media screen and (max-width: 900px) {
  .community-initiative-hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .community-initiative-hero__image {
    width: 90vw;
    margin: 2rem auto;
  }

  .community-initiative-hero__text--txt {
    width: 90vw;
    margin: 2rem auto;
    font-size: 4rem;
  }
}

/* about initiative */
.about-initiative {
  padding: 2rem;
  margin-top: 2rem;
}

.about-initiative__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-top: 3rem;
}

.about-initative__heading {
  min-width: 45vw;
  margin-right: 5vw;
}

.about-initative__heading--heading-text {
  font-size: 4rem;
  color: #000;
  text-align: justify;
}

.about-initiative__description {
  min-width: 45rem;
}

.about-initiative__description--text {
  font-size: 2rem;
  line-height: 1.4;
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .about-initiative__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-initative__heading,
  .about-initiative__description {
    width: 80vw;
    margin: 2rem auto;
  }
}

/* inititative goals part */
.initiative-goals {
  padding: 2rem;
  margin: 2rem;
  margin-top: 3rem;
}

.goals-container {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 5rem;
}

/* initiative call to action */
.initiative-cta {
  padding: 2rem;
  margin: 3rem 0;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-recom-green);
}

.initiative-cta > *:not(:last-child) {
  margin-bottom: auto;
}

.initiative-cta__text {
  font-size: 4rem;
  text-align-last: center;
  text-shadow: 1rem 1rem 3rem var(--color-recom-green);
}

.initiative-cta__button,
.initiative-cta__button:visited {
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 2.6rem;
  text-align: center;
  border: 2px solid var(--color-recom-green);
  margin: 1rem auto;
  font-weight: 700;
  border-radius: 3px;
  transition: all 0.3s ease-in;
}

.initiative-cta__button:hover {
  background-color: var(--color-recom-green);
  color: var(--color-white);
}

/* other initiatives */
.other-initiatives {
  padding: 2rem;
  margin: 3rem 0;
}

.other-initiatives-container {
  width: 90vw;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

/* community initiative footer */
.community-initiative-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem;
  background-color: var(--color-primary-jungle-green);
  margin-bottom: 2rem;
}

.community-initiative-footer >*{
  margin-bottom: 2rem;
}

.c-i-footer__social--link svg {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-recom-green);
}

.community-initiative-footer__logo{
  font-size: 5rem;
  color: var(--color-white);
}

.c-i-footer__social >*:not(:last-child){
  margin-right: 3rem;
}

.c-i-footer__thankyou{
  line-height: 1.5;
}

.c-i-footer__thankyou--main, .c-i-footer__thankyou--copyright{
  color: var(--color-white);
  font-size: 2rem;
  letter-spacing: 1.5px;
}
