@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

/* overwriting the default styles and all the common styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  font-family: "Nunito", "Verdana";
  font-size: 1.5rem;
  /* font-weight: 400; */
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
:root {
  --color-primary: #73b925;
  --color-primary-light: #7ed56f;
  --color-primary-medium: #55c57a;
  --color-primary-dark: #28b485;
  --color-white: #ccc;
  --color-white-light: #f0f0f0;
  --color-black-light: #333;
}
